.myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem;
}

.myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}

.sapMBtnContent {
    color: red;
    font-weight: bold;
}

.successDialog {
    width: 1000px;
}